@model BlindVacationFullstack.Models.User

<html>
<head>
    <title></title>
</head>

<body>
    <h2> @Model.Name</h2>
    <form asp-action="Delete">
        <fieldset>
            <input type="hidden" asp-for="@Model.ID" />
        </fieldset>
        <button type="submit" value="Delete">Delete</button>
    </form>
</body>
</html>