@model BlindVacationFullstack.Models.User
@{
    ViewData["Title"] = "Details";
}
<head>
    <title></title>
</head>
<body>
    <header></header>
    <h1> @Model.Name </h1>
    <h2>Your favorite color: @Model.FaveColor</h2>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit User Settings</a>
    <a asp-action="Delete" asp-route-id="@Model.ID">Cancel Account</a>
    <footer></footer>
</body>
